html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}
p {
    font-size: 15px;
    font-weight: normal;
}
#header {
    display: flex;
    flex: 0.2;
    background-color:#05445E;
    color: white;
    margin: 0;
    justify-content: center;
    align-items: center;
}
#container {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}
#container-inner {
    display: flex;
    flex-direction: row;
    flex: 0.6;
    align-items: center;
    justify-content: space-around;
}
.box {
    height: 75%;
    width: 20%;
    background-color:#D4F1F4;
    border: 1px solid black;
    padding: 3%;
    margin: 3%;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
}
#information-container {
    flex: 0.4;
    height: 50%;
    width: 85%;
    background-color:#D4F1F4;
    border: 1px solid black;
    padding: 3%;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: 10px;
}
#information-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#laptop-img {
    flex: 0.3;
    width: 200px;
    align-self: center;
}
#laptop-info {
    flex: 0.3;
    width: 30%;
    align-self: center;
}
#laptop-pay {
    flex: 0.3;
    width: 30%;
    align-self: center;
}
h3 {
    font-size: 20px;
}

button {
    font-size: 17px;
    padding: 10px;
    border: none;
    border-radius: 4px;
}
#loan-btn {
    background-color: aquamarine;
}
#bank-btn {
    background-color: rgb(230, 223, 131);
}
#work-btn {
    background-color: cornflowerblue;
    color: white;
}
#buy-btn {
    background-color: rgb(27, 10, 140);
    color: white;
}
#repay-loan-btn {
    background-color: rgb(0, 0, 0);
    color: white;
    display: none;
}
#loan-dept {
    display: none;
}